<div class="container-fluid">
    <div class="container2 firstFooter">
      <img src="../../assets/images/coffee-vintage.png" alt="Company logo">
      <h4>Get updates + Sweet Freebies</h4>
      <p>Sign up to receive an exclusive Offers + News!</p>
      <div class="inputas">
        <input class="mygtukas" type="submit" value="Join Us"/>
        <div>
            <input type="text" placeholder="Your Email" />
        </div>
      </div>
    </div>

    <div class="container secondFooter">
      <ul>
        <li>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </li>
      </ul>

      <p>Copyright 2019 NTProductions | Site designe handcrafted by <span>Nerijus Turauskis</span></p>
    </div>
    <div class="container">
    </div>
  </div>
