
<section>
    <div class="row">
      <div class="col-md hSecTags firsHSectags">
        <div>
          <h2>moments</h2>
          <a mat-button [routerLink]="['/moments']" class="hSecTagstBtn">More</a>
        </div>
      </div>
      <div class="col-md hSecTags secHSectags">
        <div>
          <h2>catering</h2>
          <a mat-button [routerLink]="['/catering']" class="hSecTagstBtn">More</a>
        </div>
      </div>
      <div class="col-md hSecTags thrHSectags">
        <div>
          <h2>our stroy</h2>
          <a mat-button [routerLink]="['/our-story']" class="hSecTagstBtn">More</a>
        </div>
      </div>
    </div>
  </section>
