@import '../../styles.scss';
// @import url("https://fonts.googleapis.com/css?family=Indie+Flower");

//base

.container-fluid {
  padding: 0;

  .headerStory {
    @include bgCover;
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../../assets/images/manhattan.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/images/manhattan.jpg);
    height: 300px;

    h2 {
      @include headerH2;


    }
  }

  .storySection {
    .row {
      margin: 100px 0;

      .stroySec1Text {
        padding: 0;
        margin: 20px 50px;
        text-align: center;

        h2 {
          font-size: 2rem;
          text-transform: capitalize;
        }
      }

      .storySec1Img {
        @include bgCover;
        padding: 0;
        background-size: contain;
        background-image: url(../../assets/images/beverage.png);
        min-height: 300px;

      }

      .stroySec2Text {
        padding: 0;
        margin: 20px 50px;
        text-align: center;

        h2 {
          font-size: 2rem;
          text-transform: capitalize;
        }
      }

      .storySec2Img {
        @include bgCover;
        padding: 0;
        background-size: contain;
        background-image: url(../../assets/images/low-poly-coffee.png);
        min-height: 300px;
      }

      &:first-child {
        margin-bottom: 200px;
      }

      .stroySec3Text {
        padding: 0;
        margin: 20px 50px;
        text-align: center;

        h2 {
          font-size: 2rem;
          text-transform: capitalize;
        }
      }

      .storySec3Img {
        @include bgCover;
        padding: 0;
        background-size: contain;
        background-image: url(../../assets/images/pug.png);
        min-height: 300px;
      }

      &:first-child {
        margin-bottom: 200px;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .container-fluid{
    .storySection {
      .row {
        margin-top: 50px;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .container-fluid{
    .storySection {
      .row {
        .storySec2Img {
          max-height: 200px;
          -webkit-box-ordinal-group: 3;
              -ms-flex-order: 2;
                  order: 2
        }

        .stroySec2Text {
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1;

        }

      }
    }
  }
}

@media only screen and (max-width: 530px) {
  .container-fluid{
    .storySection {
      .row {
        .storySec1Img {
          max-height: 200px;
        }

        .storySection {
          .row {
            margin-top: 30px;
          }
        }
      }
    }
  }
}

