<div class="container-fluid">
  <div class="headerStory">
    <h2>Our Story</h2>
  </div>

  <div class="storySection">
    <div class="row">
      <div class="col-md stroySec1Text">
        <h2>How we have risen </h2>
        <p>The word coffee appears to have derived from the name of the region where coffee beans were first used by a herder in the 6th or 9th century (depending on author): kaffa (from the Keffa Zone in southwestern Ethiopia) derived from Kaffa Province, which was the name of the region in ancient Abyssinia. The word "coffee" entered the English language in 1582 via the Dutch koffie, borrowed from the Ottoman Turkish kahve, borrowed in turn from the Arabic qahwah. The Arabic word qahwah was traditionally held to refer to a type of wine whose etymology is given by Arab lexicographers as deriving from the verb qahiya, "to lack hunger", in reference to the drink's reputation as an appetite suppressant. It has also been proposed that the source may be the Proto-Central Semitic root q-h-h meaning "dark".
        The term "coffee pot" dates from 1705. The expression "coffee break" was first attested in 1952</p>
      </div>
      <div class="col-md storySec1Img"></div>
    </div>

    <div class="row">
      <div class="col-md storySec2Img"></div>
      <div class="col-md stroySec2Text">
        <p>According to legend, ancestors of today's Oromo people in a region of Kaffa in Ethiopia were believed to have been the first to recognize the energizing effect of the coffee plant. However, there is no direct evidence that has been found earlier than the 15th century indicating where in Africa coffee first grew or who among the native populations might have used it as a stimulant. The story of Kaldi, the 9th-century Ethiopian goatherd who discovered coffee when he noticed how excited his goats became after eating the beans from a coffee plant, did not appear in writing until 1671 and is probably apocryphal.</p>
      <br>
        <p>Other accounts attribute the discovery of coffee to Sheikh Omar. According to an ancient chronicle (preserved in the Abd-Al-Kadir manuscript), Omar, who was known for his ability to cure the sick through prayer, was once exiled from Mocha in Yemen to a desert cave near Ousab (modern-day Wusab, about 90 kilometres (56 mi) east of Zabid). Starving, Omar chewed berries from nearby shrubbery but found them to be bitter. He tried roasting the seeds to improve the flavor, but they became hard. He then tried boiling them to soften the seed, which resulted in a fragrant brown liquid. Upon drinking the liquid Omar was revitalized and sustained for days. As stories of this "miracle drug" reached Mocha, Omar was asked to return and was made a saint.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md stroySec3Text">
        <p>The doughnut supposedly came to us from the eighteenth century Dutch of New Amsterdam and were referred to as olykoeks, meaning oily cakes. In the nineteenth century, Elizabeth Gregory fried flavored dough with walnuts for her son Hanson Gregory, hence the name doughnut. By the late nineteenth century, the doughnut had a hole.</p>
        <br>
        <p>Doughnuts were a great favorite at lumbering camps of the Midwest and Northwest as they were easy to make and full of calories needed to provide quick energy for arduous logging jobs. "Doughboys" of World War I ate thousands of doughnuts served up by the Salvation Army on the French front. Soldiers reminisced that the doughnut was far more than a hot snack. The doughnut represented all the men were fighting for—the safety and comfort of mother, hearth, and home.</p>
        <br>
        <p>Soon after the doughboys returned, dough-nut shops flourished. A Russian immigrant named Levitt invented a doughnut machine in 1920 that automatically pushed dough into shaped rings. By 1925, the invention earned him $25 million a year and it was a fixture in bakeries across the country. The machine-made doughnut was a hit of the 1934 World's Fair. Other machinery quickly developed for everything from mixing to frying. Franchises soon followed. By 1937, Krispy Kreme was founded on a "secret recipe" for yeast-raised doughnuts and Dunkin' Donuts (currently the franchise that sells the most doughnuts worldwide) was founded in Massachusetts. Presently, Krispy Kreme totals 147 stores in 26 states, while Dunkin' Donuts has 5,000 franchises in the United States and is present in 37 countries.</p>
      </div>
      <div class="col-md storySec3Img"></div>
    </div>

  </div>
</div>
