<div class="container-fluid">
  <div class="headerBlog">
    <h3>Our Blog</h3>
  </div>

  <section>
    <h1 *ngIf="blogs">Top Rated posts</h1>
    <h1 *ngIf="!blogs">Sorry, but there is no posts</h1>
  </section>

  <section class="blogs">
    <div class="container">
      <button mat-raised-button (click)="simpleClick()">Show posts</button>
      <div class="row">
        <div class="col-lg-6 singlePost" *ngFor="let b of blogs ">
          <mat-card class="postCard">
            <mat-card-title>{{b.title}}</mat-card-title>
            <mat-card-subtitle>Coffee stuff</mat-card-subtitle>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
              <p>
                {{ b.body }}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </section>
</div>
