@import '../../styles.scss';

//MIXIN
// @include box-shaodw-white {
//   -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
//   -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
//   box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
// }

//COLOR
$whiteText : #f1f1f1;
$burlywood : #deb887;

//BASE
mat-sidenav-container {
  height: 100%;

  mat-sidenav, mat-sidenav-content {
    padding: 16px;
  }

  mat-sidenav {
    display:table;
    width:400px;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../../assets/images/sidebar-coffee.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height:100%;
    color: #fff;

    div {
      .closingBtn {
        display: block;
        margin-left: auto;
      }

      img {
        display: block;
        margin: 25px auto;
        height: 180px;
        filter: invert(85%);
      }
    }

    .navLinkUl {
      margin: 10% 20px 20% 20px;

      ul {
        list-style: none;
        margin-top: 75px;

        li {
          padding-left: 15px;

          a {
            color: white;
            text-decoration: none;
            font-size: 1.5rem;
            line-height: 1.6;
            transition: ease-in-out 0.2s;



            &:hover {
              padding-left: 30px;
              transition: ease-in-out 0.2s;
              color: $burlywood;
            }
          }
        }
      }
    }

    .socialIcon {
      display: block;
      margin: 0 auto;

      ul {
        list-style: none;
        margin-left: 16px;

        li {
          display: inline;

          a {
            padding: 10px 15px;

            &:hover {

              i {
                color: $burlywood;
                transition: all 0.3s;
              }
            }

            i {
              color: $whiteText;
              transition: all 0.3s;
            }
          }
        }
      }
    }
  }

  mat-sidenav-content {
    padding: 0;

    #spreadSideNav {
      position: fixed;
      // width: 100%;
       background: rgba(black, 0.3);
      // color: $whiteText;

      button {
        z-index: 100;
        color: white;
        border: solid 1px white;

        // &:hover {

        // }
      }
    }

  }
}

@media only screen and (max-width: 520px) {
  mat-sidenav-container {
    height: 100%;

    mat-sidenav {
      width: 100%;
    }
  }
}
