<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav [(opened)]="opened">
    <div>
        <button mat-button (click)="sidenav.close()" class="closingBtn"><i class="fas fa-times"></i></button>
    </div>
    <div>
      <img src="../../assets/images/coffee-vintage.png" alt="Coffee logo" >
    </div>
    <div class="navLinkUl">
      <ul>
        <li><a [routerLink]="['/']" routerLinkActive="router-link-active" (click)="navBtnClicked()">HOME</a></li>
        <li><a [routerLink]="['/moments']" (click)="navBtnClicked()">MOMENTS</a></li>
        <li><a [routerLink]="['/']" (click)="navBtnClicked()">BLOG</a></li>
        <li><a [routerLink]="['/']" (click)="navBtnClicked()">CATERING</a></li>
        <li><a [routerLink]="['/']" (click)="navBtnClicked()">STORY</a></li>
        <li><a [routerLink]="['/contact']"(click)="navBtnClicked()">CONTACT</a></li>
      </ul>
    </div>

    <div class="socialIcon">
      <ul>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
      </ul>
    </div>


  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar id="spreadSideNav">
      <button mat-button (click)="sidenav.open()">open side nav</button>
    </mat-toolbar>

    <router-outlet></router-outlet>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
